*, body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

body {
  background: url('image/bg-repeating.jpg') repeat;
}

.fa {
  color: #CCC;
}

.close-ico {
  /*background-image: linear-gradient(0deg, #6923AE 0%, #C86DD7 100%);*/
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.50);*/
  color: #6923AE;
  font-size: 32px;
  position: absolute;
  right: -12px;
  top: -12px;
}

.comments {
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: #CCC 2px solid;
  padding: 15px;
}

.user-data {
  margin-bottom: 15px;

  .user-name {
    font-weight: 700;
  }

  .update-date {
    text-align: right;
    color: #999;
    text-transform: capitalize;
  }
}

.reply-btn {
  color: #CCC;
}

.reply-btn:hover {
  color: #999;
}

.reply-btn:hover .reply-ico {
  color: #999;
}

.more-options-btn:hover .more-options-btn {
  color: #999;
}
