<script>
  window.comments = <%= raw @image.hierarchical_comments.to_json %>;
</script>
<div class="img-container">
	<% if @image.flag_count < 3 %>
	<img src="<%= @image.image.url %>">
	<div class="flag-container">
	  	<%= button_to "Flag Image as Innapropriate", flag_image_path( @image.uuid ), remote: true, class: 'btn btn-default' %>
	</div>
	<% else %>
		<h1>Image has been flagged as Innapropriate and has been removed.</h1>
	<% end %>
</div>
